@use "~sass-mq/mq" as mq with (
  $mq-breakpoints: (
    mobile: 320px,
    tablet: 740px,
    desktop: 980px,
    wide: 1200px,
  )
);

// Layouts
@use "layout/container";
@use "layout/product_category";

// Components
@use "components/checkout/fields";
@use "components/product/price";
@use "components/category/product_grid";
@import "components/product/product_grid";

// @import "components/product/price_single";
// @import "components/product/price_archive";
